<!-- PAGE CONTENT ENDS -->
			</div>
		</div>
	</div>

	
	
</div><!-- /.main-content -->
</div><!-- /.main-container-inner -->

</div><!-- /.main-container -->
<script>

angular.module("thoughts_app").controller("LoginCtrl",function($scope,httpService,UserService){
	$scope.is_login = UserService.is_login();
	$scope.user = UserService.user();
	/*
	UserService(function(user,is_login){
		$scope.is_login = UserService.is_login;
		$scope.user = UserService.user;
		
	})*/
	$scope.logout = function(event){
		event.stopPropagation();
		window.location = "/users/logout";
	}
	$scope.login = function(event){
		window.location = "/users/login";
	}
});	
/*
angular.module("thoughts_app").controller("LoginCtrl",function($scope,httpService){
	$scope.user =null;
	$scope.is_login = false;
	$scope.load_data = function(){
		var url ="/users/info";
		httpService(url,{},function(json){
			if (json.status){
				$scope.is_login = true;
				$scope.user = json.result;
			}else{
				$scope.is_login = false;
				$scope.user = null;
			}

			console.log(json);
		},null);
	}
	$scope.load_data();
	$scope.logout = function(event){
		event.stopPropagation();
		window.location = "/users/logout";
	}
	$scope.login = function(event){
		window.location = "/users/login";
	}
});	*/
</script>

	<!--          This is footor of html body -->

	
</body>
</html>
