
		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/angular/angular.min.js"></script>
		<% include app_public %>
		<script>
			var app = angular.module("thoughts_app",[]);
		</script>
	
</body>
</html>
