<div class="navbar-header pull-right" role="navigation" id="top_right_area" style="display:none;">
	<ul class="nav ace-nav" ng-show="!is_login">
		<li class="light-blue">
			<a href="#" ng-click="login($event);">Login</a>
		</li>
	</ul>
	<ul class="nav ace-nav" ng-show="is_login">
			<li class="grey">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="icon-tasks"></i>
					<span class="badge badge-grey">{{projects.length}}</span>
				</a>

				<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
					<li class="dropdown-header">
						<i class="icon-ok"></i>
						There are {{projects.length}} projects running now.
					</li>

					<li ng-repeat="p in projects" ng-click="open_project(p,$event);">
						<a href="#">
							<div class="clearfix">
								<span class="pull-left" ng-bind="p.title"></span>
								<span class="pull-right">65%</span>
							</div>

							<div class="progress progress-mini ">
								<div style="width:65%" class="progress-bar "></div> <!-- progress-bar-danger  progress-bar-warning progress-bar-success -->
							</div>
						</a>
					</li>
					

					<li>
						<a href="/projects/index/0" >
							Add New Project
							<i class="icon-arrow-right"></i>
						</a>
					</li>
				</ul>
			</li>

			<li class="purple">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="icon-bell-alt icon-animated-bell"></i>
					<span class="badge badge-important">{{news.length}}</span>
				</a>

				<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" style="height:400px;width:350px;overflow:scroll;overflow-x:hidden;">
					<li class="dropdown-header text-center">
						<a href="/news/read">
						{{news.length}} news
						</a>
					</li>

					<li ng-repeat="item in news" style="width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
						<a ng-href="{{item.link}}" ng-bind="item.title" target="_blank" data-toggle='tooltip' title="{{item.content}}" data-html="true"></a>
					</li>

					<li>
						<a href="/news/read">
							All News
						</a>
					</li>
				</ul>
			</li>

			<li class="green">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="icon-envelope icon-animated-vertical"></i>
					<span class="badge badge-success">{{posts.length}}</span>
				</a>

				<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
					<li class="dropdown-header">
						<i class="icon-envelope-alt"></i>
						{{posts.length}} posts
					</li>

					<li ng-repeat="post in posts">
						<a href="#">
							<img ng-src="{{ post.user.avatar?post.user.avatar:'/assets/avatars/face-ico.png'}}" class="msg-photo" alt="user's Avatar" />
							<span class="msg-body">
								<span class="msg-title">
									<span class="blue" ng-bind="post.user.name"></span>
									{{post.content}}
								</span>

								<span class="msg-time">
									<i class="icon-time"></i>
									<span>{{post.created_date | date }}</span>
								</span>
							</span>
						</a>
					</li>

					

					<li>
						<a href="/posts/list">
							Check All Posts
							<i class="icon-arrow-right"></i>
						</a>
					</li>
				</ul>
			</li>

			<li class="light-blue">
				<a data-toggle="dropdown" href="#" class="dropdown-toggle">
					<img class="nav-user-photo" ng-src="{{user.avatar}}" alt="Jason's Photo" />
					<span class="user-info">
						<small>Welcome, </small>
						{{user.name}}
					</span>

					<i class="icon-caret-down"></i>
				</a>

				<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
					<li>
						<a href="/users/settings">
							<i class="icon-cog"></i>
							Settings
						</a>
					</li>

					<li>
						<a href="/users/profile">
							<i class="icon-user"></i>
							Profile
						</a>
					</li>

					<li class="divider"></li>

					<li>
						<a href="#" ng-click="logout($event);">
							<i class="icon-off"></i>
							Logout
						</a>
					</li>
				</ul>
			</li>
		</ul><!-- /.ace-nav -->
	</div><!-- /.navbar-header -->		