<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	</head>

	<body>
		<div class="navbar navbar-default">
			
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							Thoughts is only star!
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				
			</div><!-- /.container -->
		</div>

		<div class="main-container" >
			

			<div class="main-container-inner">
				<div class="siderbar">
				</div>

				<div class="main-content">
					
				</div><!-- /.main-content -->

				
			</div><!-- /.main-container-inner -->

			
		</div><!-- /.main-container -->

		

		<script src="jquery/dist/jquery.min.js"></script>
		<script src="angular/angular.min.js"></script>

		
	
</body>
</html>

