<% include shared/header %>

		<div class="main-container" >
			

			<div class="main-container-inner">
				<div class="siderbar">
				</div>

				<div class="main-content">
					<%include test %>
					
				</div><!-- /.main-content -->

				
			</div><!-- /.main-container-inner -->

			
		</div><!-- /.main-container -->

		
<% include shared/footer %>
