<% include ../shared/header %>

		<div class="main-container" >
			<div class="main-container-inner">
				<div class="siderbar">
				</div>
				<div class="main-content">
					<form action="/users/login" method="POST">
							<input type="text" name="username" placeholder="Username"/>
							<input type="password" name="password" placeholder="Password" />
							<input type="hidden" name="return_url" value="<%= return_url %>" />
							<input type="submit" value="Login"/>
					</form>
					
				</div><!-- /.main-content -->

				
			</div><!-- /.main-container-inner -->

			
		</div><!-- /.main-container -->

<% include ../shared/load_public %>

<% include ../shared/footer %>
