<% include head %>
<div class="container" style="font-size:16px;" >
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked" id="chapter" style="border:1px solid;">
   
			</ul>
		</div>
		<div class="col-md-9" id="content" style="border:1px solid;">
		</div>
	</div>
	
	

</div>

<script>

	var book_id = "<%= book_id %>";
	var url = "/spiders/load_book/"+book_id;
	$.get(url,{},function(json){
		var items = json;
		for(var i=0;i<items.length;i++){
			var item = items[i];
			var ele = "<p class='text-center' id='index_"+item.index+"'><a href='#chapter_"+i+"'>"+(i+1)+"."+ item.title +"</a></p>";
			ele += "<p>"+item.content +"</p>";
			ele +="<br/><br/><p class='text-right'><a href='#chapter'>Top</a></p>";
			$(ele).appendTo("#content");

			var chapter ="<li id='chapter_"+i+"'><a href='#index_"+item.index+"'>"+(i+1)+". " +item.title +"</li>"
			$(chapter).appendTo("#chapter");

		}

	});
	

</script>
	
<% include footer %>
