<% include ../shared/header %>
<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div  ng-controller="ProjectCtrl">	
			<form class="form-horizontal" role="form" id="project_form" method="POST" action="/projects/add">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Title </label>

					<div class="col-sm-9">
						<input type="text" name="title" placeholder="Title" class="col-xs-10 col-sm-5" value="<%= project.title %>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Code </label>

					<div class="col-sm-9">
						<input type="text" name="code"  placeholder="Code" class="col-xs-10 col-sm-5"  value="<%= project.code %>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Description </label>

					<div class="col-sm-9">
						<input type="text" name="description"  placeholder="Description" class="col-xs-10 col-sm-5"  value="<%= project.description %>">
					</div>

				</div>
				<input type="hidden"  value="<%= project._id %>"  name="id"/>
			</form>
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="button" onclick="project_form.submit();">
						<i class="icon-ok bigger-110"></i>
						Submit
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="icon-undo bigger-110"></i>
						Reset
					</button>
				</div>
			</div>


			</div><!-- Project Ctrl end -->

	
			<!-- PAGE CONTENT ENDS -->
		</div>
	</div>
</div>

<% include ../shared/load_public %>


<script>
	
	angular.module("thoughts_app").controller("ProjectCtrl",function($scope,httpService,hotkeys){
		
		$scope.project ={};
		hotkeys.bindTo($scope)
		.add({
			combo:'ctrl+n',
			description:'Ctrl + N to create new project',
			callback:function(){
				$scope.reset_data();
			}
		}).
		add({
			combo:'ctrl+s',
			description:"Ctrl + S to save the project",
			callback:function(){
				$scope.submit();
			}
		})
		$scope.load_data = function(){
			var url = "/projects/info";
			httpService(url,{id:$scope.project_id},function(json){
				$scope.project = json;
			});
		}
		$scope.reset_data = function(){
			angular.element("form input").val('');
		}
		$scope.submit = function(event){
			angular.element("#project_form").submit();
			return;
			if (event) event.stopPropagation();
			console.log($scope.project);
			var url = "/projects/add";
			httpService(url,$scope.project,function(json){
				console.log(json);
			});
		}
		
	});		
	
</script>



<% include ../shared/footer %>
