<!-- item detail -->
			<div class="message-content" >
				<div class="message-header clearfix">
					<div class="pull-left">
						<span class="blue bigger-125 editable editable-click" ng-bind="current.title" id="item_title" data-key="{{current._id}}"></span>

						<div class="space-4"></div>

						<i class="icon-star orange2 mark-star"></i>

						&nbsp;
						<img class="middle"  src="/assets/avatars/avatar.png" width="32" />
						&nbsp;
						<a href="#" class="sender" ng-bind="current.user.name"></a>

						&nbsp;
						<i class="icon-time bigger-110 orange middle"></i>
						<span class="time" ng-bind="current.updated_date | date : 'yyyy-MM-dd HH:mm:ss' "></span>

						&nbsp;
						<span class="editable editable-click" ng-bind="current.index" id="item_index"> </span>
					</div>

					<div class="action-buttons pull-right">
						<a href="#">
							<i class="icon-reply green icon-only bigger-130"></i>
						</a>

						<a href="#">
							<i class="icon-mail-forward blue icon-only bigger-130"></i>
						</a>

						<a href="javascript:void(0);" ng-click="remove_current($event);">
							<i class="icon-trash red icon-only bigger-130"></i>
						</a>
					</div>
				</div>

				<div class="hr hr-double"></div>

				<div class="message-body">
					<p ng-bind="current.description" class="editable editable-click" id="item_description">
					</p>
				</div>

				<div class="hr hr-double"></div>
				
				<div class="message-attachment clearfix">
					<div class="attachment-title">
						<span class="blue bolder bigger-110">Attachments</span>
						&nbsp;
						<span class="grey">(2 files, 4.5 MB)</span>

						<div class="inline position-relative">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								&nbsp;
								<i class="icon-caret-down bigger-125 middle"></i>
							</a>

							<ul class="dropdown-menu dropdown-lighter">
								<li>
									<a href="#">Download all as zip</a>
								</li>

								<li>
									<a href="#">Display in slideshow</a>
								</li>

							</ul>
						</div>
					</div>

					&nbsp;
					<ul class="attachment-list pull-left list-unstyled">
						<li ng-repeat="a in current.attachments">
							<a href="#" class="attached-file inline">
								<i class="icon-file-alt bigger-110 middle"></i>
								<span class="attached-name middle" ng-bind="a.fileId.filename"></span>
							</a>

							<div class="action-buttons inline">
								<a href="#">
									<i class="icon-download-alt bigger-125 blue"></i>
								</a>

								<a href="javascript:void(0)" ng-click="remove_attachment(a,$event);">
									<i class="icon-trash bigger-125 red"></i>
								</a>
							</div>
						</li>

						
					</ul>

					<div class="attachment-images pull-right">
						<div class="vspace-sm-4"></div>

						<div id="attachments_images">
							<img width="36" ng-src="{{a.fileId.link}}" ng-repeat="a in current.attachments" ng-click="show_image($event,a);" />							
						</div>
					</div>
				</div>
			</div><!-- /.message-content -->

			<!-- item detail end -->
<script type="text/javascript">
			jQuery(function($) {
			
				//editables on first profile page
				$.fn.editable.defaults.mode = 'inline';
				$.fn.editableform.loading = "<div class='editableform-loading'><i class='light-blue icon-2x icon-spinner icon-spin'></i></div>";
			    $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="icon-ok icon-white"></i></button>'+
			                                '<button type="button" class="btn editable-cancel"><i class="icon-remove"></i></button>';    
				setTimeout(function(){
					//editables 
					var key = $("#item_title").data("key");
				    $('#item_title').editable({
						type: 'text',
						pk: key,
						url:'/projects/item_change',
						name: 'title',
						success: function(response, newValue) {
							angular.element("#item_title").scope().current.title = newValue;
							angular.element("#item_title").scope().current.updated_date = Date.now();
							angular.element("#item_title").scope().$apply();
						}
				    });	
				    $('#item_index').editable({
						type: 'text',
						pk: key,
						url:'/projects/item_change',
						name: 'index',
						success: function(response, newValue) {
							angular.element("#item_title").scope().current.index = newValue;
							angular.element("#item_title").scope().current.updated_date = Date.now();
							angular.element("#item_title").scope().$apply();
						}
				    });	
				    $('#item_description').editable({
				     	
						type: 'textarea',
						pk: key,
						url:'/projects/item_change',
						name: 'description',
						textarea : {
							css : {'width':'100%'}
						},
						success: function(response, newValue) {
							
							angular.element("#item_title").scope().current.description = newValue;
							angular.element("#item_title").scope().current.updated_date = Date.now();
							angular.element("#item_title").scope().$apply();
						}
				    });		
				   
				},500);
				
			});
</script>