<% include ../shared/header %>
<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
		
				
			<h1>User profile</h1>

		<!-- PAGE CONTENT ENDS -->
		</div>
	</div>
</div>		
				

<% include ../shared/load_public %>
		
<% include ../shared/footer %>
