<% include ../shared/header %>
<link rel="stylesheet" href="/assets/css/bootstrap-editable.css" />

<div class="page-content" ng-controller="NewsCtrl">
	<div class="row">
		<div class="col-md-12">
			<!-- PAGE CONTENT BEGINS -->
			<ul class="list-group">
			    <li class="list-group-item" ng-repeat="item in news" >				    	
			    	<a ng-href="{{item.link}}" target="_blank"><h4 ng-bind="item.title"> </h4></a> 					    				    	
			    	<p ng-bind="item.content" ng-click="open_item(item,$event);"></p>				    	
			    	<h5 class="text-right red"> {{item.site.name}}  {{item.pubDate | timeFormat}}</h5>
			    </li>
		    
	  		</ul>
			

			<!-- PAGE CONTENT ENDS -->
		</div>
		
	</div>
</div>	
<% include ../shared/load_public %>
<script src="/assets/js/x-editable/bootstrap-editable.min.js"></script>
<script src="/assets/js/x-editable/ace-editable.min.js"></script>

<script type="text/javascript">
	angular.module("thoughts_app").controller("NewsCtrl",function($scope,httpService,hotkeys,Message,userInfo){
		$scope.user = userInfo.user;
		
		$scope.news = [];
		$scope.load_data = function(){
			httpService("/news/news",{},function(json){
				$scope.news = json.result;
			})	
		}
		$scope.load_data();
		$scope.open_item = function(item, event){
			
			var index = layer.open({
			    type: 2,
			    title:"News",
			    content: item.link,
			    area: ['80%', '80%'],
			    maxmin: true
			});
			//layer.full(index);
		}
	})
	
</script>	
		


		
<% include ../shared/footer %>
